@charset "UTF-8";

* {
    margin: 0px;
    padding:0px;
}

html, body {
    min-height: 100vh; /* vh (viewport height) utiliza a altura da viewport */
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /* Letras maiusculas */
}

header > p {
    padding-bottom: 50px;    
}

header a, footer a { /* Para o cabeçalho e rodapé */
    color: white;
    text-decoration: none; /* Tira sublinhado */
    font-weight: bolder; /* Negrito */
}

header a:hover, footer a:hover { /* Para o cabeçalho e rodapé */
    text-decoration: underline; /* Passo o mouse por cima sublinhar */
}

:root {
    --fonte1: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

section {
    padding-top: 10vh; /* 10% da viewport da section do topo */
    padding-bottom: 10vh; /* 10% da viewport da section de baixo */
    line-height: 2em; /* espaçamento entre as linhas */
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(119, 117, 117);
    color: white;
}

section.imagem > p {
   width: 400px; 
   background-color: rgba(0, 0, 0, 0.116);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}