@charset "UTF-8";

:root {
    --fonte1: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding:0px;
}


footer {
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 5px;
}